
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    font-size: 20px;
    overflow-x: hidden;
    color: white;
    
    font-family: 'Flamenco', cursive;

}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.clearfix:after
{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;

}
.top_row
{
    max-width: 1180px;
    margin: 0 auto;
}

.logo
{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;

}
.list_options
{
    float: right;
    margin-top: 60px;

}
.list_options li
{
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.list_options li a
{
    padding: 5px 0px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    color: white;
    font-weight: 100;
}

.list_options li a:hover
{
    border-bottom: 2px solid #bf55ec;
}

.main_content
{
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#pics
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);   
}





.change
{
    animation: changewakenbake 1s infinite;
}

@keyframes changewakenbake
{
    0%{color: red;}
    25%{color: #bf55ec;}
    50%{color: white;}
    100%{color: #bf55ec;}
}
.ipad
{
    display: none;
}



/*responsive*/

@media only screen and (max-width:1180px)
{
    .main_content
    {
        width: 100%;
        padding: 0 2%;
    }
}

@media only screen and (max-width:998px)
{
    h1
    {
        font-size: 200%;
    }
    .list_options
    {
        padding-right: 2px;
    }
    #pics
    {
        width: 5px;
        height: 2.5px;
        position: absolute;
    top: 22%;
    left: 10%;
    transform: translate(-50%,-50%);   
    }
}

@media only screen and (max-width:768px)
{
    h1
    {
        font-size: 200%;
    }
    .list_options
    {
        display: none;
    }
    .ipad
    {
        display: inline-block;
        color: white;
        float: right;
        margin-right: 20px;
        margin-top: 30px;
    }
    .list_options
    {
        float:left;
    }

    .top_row li
    {
        
        display: block;
        margin-top: 10px;
    }
    @media only screen and (max-width:1180px)
{
    .main_content
    {
        width: 100%;
        padding: 0 2%;
    }
}

}

